:root {
    /* https://github.com/morhetz/gruvbox */
    /* Gruvbox Light */
    --bg-color: #fbf1c7;
    --text-color: #3c3836;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --gray: #ebdbb2;

    /* Gruvbox Light Hard */
    --bg-color-h: #f9f5d7;
    --text-color-h: #282828;

    --red-h: #cc241d;
    --green-h: #98971a;
    --yellow-h: #d79921;
    --blue-h: #458588;
    --purple-h: #b16286;
    --aqua-h: #689d6a;
    --gray-h: #a89984;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* https://github.com/morhetz/gruvbox */
        /* Gruvbox Dark */
        --bg-color: #282828;
        --text-color: #ebdbb2;

        --red: #fb4934;
        --green: #b8bb26;
        --yellow: #fabd2f;
        --blue: #83a598;
        --purple: #d3869b;
        --aqua: #8ec07c;
        --gray: #ebdbb2;

        /* Gruvbox Dark Hard */
        --bg-color-h: #1d2021;
        --text-color-h: #fbf1c7;

        --red-h: #cc241d;
        --green-h: #98971a;
        --yellow-h: #d79921;
        --blue-h: #458588;
        --purple-h: #b16286;
        --aqua-h: #689d6a;
        --gray-h: #a89984;
    }
}
